
{% extends 'flatpages/default.html' %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <h1> All News: {{ news|length }} </h1>
    <h4>***</h4>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>title</td>
                <td>date_creation</td>
                <td>text</td>
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.date_creation|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20}}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2> No news! </h2>
    {% endif %}
{% endblock content %}